In [1]:
#Import all necessary libraries
import math
import time
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

In [23]:
data = []
with open("../Datasets/2017onwards.csv",'r') as f:
  for row in f:
    data.append(row.strip('\n').split(','))

In [4]:
#Uses the Nominamtim API to obtain latitude and longitude for the street
def get_lat_lon(address):

    #Initializes the geocoder and collects the location information
    geolocator = Nominatim(user_agent="Jupyter_AI_Project_HomeBros")
    location = geolocator.geocode(address, timeout=10)

    #Begins up to 5 attempts to find location, increasing delay time each attempt in case of timeout
    for attempt in range(5):
        delay = 1
        try:
            location = geolocator.geocode(address, timeout=10)

            #Checks if location found. If not, prints address and returns None.
            #When not found, address was examined to identify why. (During preprocessing. Resulted in the many if statements above)
            if location:
                return location.latitude, location.longitude
            else:
                print(address)
                return None, None

        except GeocoderTimedOut:
            print(f"⏱️ Timeout on attempt {attempt+1} for '{address}'... retrying in {delay}s.")
            time.sleep(delay)
            delay += 1

In [5]:
# Calculates shortest possible distance to CBD in Kilometres
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth's radius in kilometers
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)

    a = math.sin(delta_phi/2)**2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = R * c
    return round(distance,3)

In [24]:
# Selects the unique street names for further processing
# Replaces streets that no longer exist with streets near the location in the past
# Replaces short forms into full words for Nominatim search
streets = []
unique_streets = []
for row in data[1:]:
    new_strt = row[4]

    # Storage to retrieve indexes later
    if new_strt not in streets:
      streets.append(new_strt)
      
    # Processing
    if " NTH " in new_strt:
      new_strt = new_strt.replace(" NTH ", " NORTH ")
    if " NTH" in new_strt:
      new_strt = new_strt.replace(" NTH", " NORTH")
    if " STH " in new_strt:
      new_strt = new_strt.replace(" STH ", " SOUTH ")
    if " ST " in new_strt:
      new_strt = new_strt.replace(" ST ", " STREET ")
    if " RD " in new_strt:
      new_strt = new_strt.replace(" RD ", " ROAD ")
    if "BT " in new_strt:
      new_strt = new_strt.replace("BT ", "BUKIT ")
    if " BT " in new_strt:
      new_strt = new_strt.replace(" BT ", " BUKIT ")
    if " ST" == new_strt[-3:]:
      new_strt = new_strt[:-3] + " STREET"
    if " RD" == new_strt[-3:]:
      new_strt = new_strt[:-3] + " ROAD"
    if new_strt == "JLN MEMBINA BARAT":
      new_strt = "JALAN MEMBINA"
    if "JLN " in new_strt:
      new_strt = new_strt.replace("JLN ", "JALAN ")
    if "LOR " in new_strt:
      new_strt = new_strt.replace("LOR ", "LORONG ")
    if " AVE " in new_strt:
      new_strt = new_strt.replace(" AVE ", " AVENUE ")
    if " AVE" == new_strt[-4:]:
      new_strt = new_strt[:-4] + " AVENUE"
    if " DR " in new_strt:
      new_strt = new_strt.replace(" DR ", " DRIVE ")
    if " DR" == new_strt[-3:]:
      new_strt = new_strt[:-3] + " DRIVE"
    if "C'WEALTH" in new_strt:
      new_strt = new_strt.replace("C'WEALTH", "COMMONWEALTH")
    if "TG " in new_strt:
      new_strt = new_strt.replace("TG ", "TANJONG ")
    if new_strt == "KG BAHRU HILL":
      new_strt = "SPOONER ROAD" #Road no longer exists
    elif "KG " in new_strt:
      new_strt = new_strt.replace("KG ", "KAMPONG ")
    if "UPP " in new_strt:
      new_strt = new_strt.replace("UPP ", "UPPER ")
    if "BUANGKOK SOUTH FARMWAY 1" == new_strt:
      new_strt = "BUANGKOK" #Road no longer exists

    #If street not already in unique_streets, add it
    if new_strt not in unique_streets:
      unique_streets.append(new_strt)


#Converts each item in streets to a list in the format [street_name, latitude, longitude]
i = 0
for row in unique_streets:
  address = row
  lat, lon = get_lat_lon(address)
  unique_streets[i] = [row, lat, lon]
  i += 1

# Initialized the values for CBD's latitude and longitude
CBD = [1.2812, 103.8503]
for row in unique_streets:
  dist = haversine(CBD[0], CBD[1], row[1], row[2])
  row.append(dist)

# Adjusts main dataset to reflect dist to CBD instead of street name
data[0][4] = "distance_to_CBD"
for row in data[1:]:
  if streets.index(row[4]) > len(unique_streets):
    print(row[4])
  else:
    record = unique_streets[streets.index(row[4])]
    row[4] = record[3]

In [32]:
for each in data[2000:2050]:
  print(each)

['2017-02', 'SERANGOON', 'EXECUTIVE', '123', 10.081, '10 TO 12', '150', 'Maisonette', '1985', '67 years 07 months', '700000']
['2017-02', 'SERANGOON', 'EXECUTIVE', '526', 10.765, '04 TO 06', '152', 'Maisonette', '1992', '74 years 09 months', '720000']
['2017-02', 'SERANGOON', 'EXECUTIVE', '525', 10.765, '10 TO 12', '152', 'Maisonette', '1992', '74 years 09 months', '725000']
['2017-02', 'SERANGOON', 'EXECUTIVE', '423', 8.383, '10 TO 12', '154', 'Maisonette', '1989', '70 years 11 months', '938888']
['2017-02', 'TAMPINES', '3 ROOM', '849', 12.108, '01 TO 03', '64', 'Simplified', '1987', '69 years 09 months', '290000']
['2017-02', 'TAMPINES', '3 ROOM', '462', 14.435, '10 TO 12', '64', 'Simplified', '1987', '69 years 05 months', '292000']
['2017-02', 'TAMPINES', '3 ROOM', '879', 12.391, '07 TO 09', '74', 'Model A', '1988', '70 years 06 months', '320000']
['2017-02', 'TAMPINES', '3 ROOM', '219', 13.904, '07 TO 09', '73', 'Model A', '1985', '67 years', '330000']
['2017-02', 'TAMPINES', '3 ROOM', '809', 12.168, '01 TO 03', '73', 'Model A', '1984', '66 years 01 month', '338000']
['2017-02', 'TAMPINES', '3 ROOM', '213', 13.892, '07 TO 09', '73', 'Model A', '1985', '67 years 01 month', '338888']
['2017-02', 'TAMPINES', '3 ROOM', '267', 13.787, '07 TO 09', '75', 'Model A', '1983', '65 years 05 months', '366000']
['2017-02', 'TAMPINES', '4 ROOM', '130', 13.949, '01 TO 03', '84', 'Simplified', '1987', '69 years 09 months', '369000']
['2017-02', 'TAMPINES', '4 ROOM', '841', 12.108, '04 TO 06', '84', 'Simplified', '1986', '68 years 04 months', '375000']
['2017-02', 'TAMPINES', '4 ROOM', '135', 13.949, '01 TO 03', '84', 'Simplified', '1988', '70 years 06 months', '378000']
['2017-02', 'TAMPINES', '4 ROOM', '347', 14.408, '10 TO 12', '105', 'Model A', '1996', '78 years 04 months', '385000']
['2017-02', 'TAMPINES', '4 ROOM', '348', 14.408, '10 TO 12', '106', 'Model A', '1996', '78 years 03 months', '388000']
['2017-02', 'TAMPINES', '4 ROOM', '840', 12.271, '07 TO 09', '84', 'Simplified', '1986', '67 years 11 months', '390000']
['2017-02', 'TAMPINES', '4 ROOM', '355', 14.408, '07 TO 09', '107', 'Model A', '1996', '78 years 01 month', '405000']
['2017-02', 'TAMPINES', '4 ROOM', '367', 14.775, '04 TO 06', '100', 'Model A', '1997', '79 years 03 months', '420000']
['2017-02', 'TAMPINES', '4 ROOM', '401', 13.69, '01 TO 03', '109', 'Model A', '1985', '67 years 07 months', '420000']
['2017-02', 'TAMPINES', '4 ROOM', '447', 14.057, '01 TO 03', '104', 'Model A', '1985', '66 years 11 months', '420000']
['2017-02', 'TAMPINES', '4 ROOM', '719', 12.831, '07 TO 09', '101', 'Model A', '1997', '79 years 03 months', '423000']
['2017-02', 'TAMPINES', '4 ROOM', '891', 12.391, '04 TO 06', '101', 'Model A', '1997', '79 years 03 months', '425000']
['2017-02', 'TAMPINES', '4 ROOM', '109', 12.954, '04 TO 06', '105', 'Model A', '1984', '66 years 07 months', '430000']
['2017-02', 'TAMPINES', '4 ROOM', '166', 13.046, '01 TO 03', '103', 'Model A', '1984', '66 years 04 months', '440000']
['2017-02', 'TAMPINES', '4 ROOM', '164', 13.046, '04 TO 06', '103', 'Model A', '1984', '66 years 09 months', '470000']
['2017-02', 'TAMPINES', '4 ROOM', '842H', 12.271, '07 TO 09', '106', 'Model A', '1995', '77 years 06 months', '470000']
['2017-02', 'TAMPINES', '4 ROOM', '247', 13.787, '07 TO 09', '91', 'New Generation', '1984', '66 years 02 months', '475000']
['2017-02', 'TAMPINES', '4 ROOM', '842D', 12.271, '10 TO 12', '106', 'Model A', '1995', '77 years', '493000']
['2017-02', 'TAMPINES', '4 ROOM', '167D', 13.89, '07 TO 09', '94', 'DBSS', '2011', '93 years 11 months', '605000']
['2017-02', 'TAMPINES', '4 ROOM', '164', 13.046, '04 TO 06', '103', 'Model A', '1984', '66 years 09 months', '470000']
['2017-02', 'TAMPINES', '4 ROOM', '842H', 12.271, '07 TO 09', '106', 'Model A', '1995', '77 years 06 months', '470000']
['2017-02', 'TAMPINES', '5 ROOM', '112', 13.949, '01 TO 03', '121', 'Improved', '1988', '69 years 11 months', '450000']
['2017-02', 'TAMPINES', '5 ROOM', '298', 13.47, '10 TO 12', '121', 'Improved', '1985', '67 years 03 months', '450000']
['2017-02', 'TAMPINES', '5 ROOM', '298', 13.47, '04 TO 06', '126', 'Improved', '1985', '67 years 01 month', '460000']
['2017-02', 'TAMPINES', '5 ROOM', '358', 14.408, '01 TO 03', '124', 'Improved', '1996', '78 years 01 month', '465000']
['2017-02', 'TAMPINES', '5 ROOM', '368', 14.775, '01 TO 03', '122', 'Improved', '1997', '79 years 03 months', '475000']
['2017-02', 'TAMPINES', '5 ROOM', '498F', 14.852, '10 TO 12', '124', 'Premium Apartment', '1997', '79 years 07 months', '480000']
['2017-02', 'TAMPINES', '5 ROOM', '857A', 12.108, '01 TO 03', '122', 'Improved', '1987', '69 years 08 months', '480000']
['2017-02', 'TAMPINES', '5 ROOM', '498B', 14.852, '04 TO 06', '125', 'Premium Apartment', '1997', '79 years 05 months', '485000']
['2017-02', 'TAMPINES', '5 ROOM', '494B', 14.187, '10 TO 12', '124', 'Improved', '1993', '75 years 05 months', '488000']
['2017-02', 'TAMPINES', '5 ROOM', '479', 14.435, '01 TO 03', '132', 'Model A', '1993', '75 years 05 months', '495000']
['2017-02', 'TAMPINES', '5 ROOM', '497D', 14.852, '10 TO 12', '122', 'Premium Apartment', '1996', '78 years 04 months', '495000']
['2017-02', 'TAMPINES', '5 ROOM', '298', 13.47, '07 TO 09', '121', 'Improved', '1985', '67 years 01 month', '500000']
['2017-02', 'TAMPINES', '5 ROOM', '149', 13.949, '01 TO 03', '122', 'Improved', '1988', '70 years 01 month', '500000']
['2017-02', 'TAMPINES', '5 ROOM', '358', 14.408, '07 TO 09', '132', 'Model A', '1996', '78 years 01 month', '500000']
['2017-02', 'TAMPINES', '5 ROOM', '491C', 14.852, '10 TO 12', '123', 'Improved', '1993', '75 years 05 months', '501000']
['2017-02', 'TAMPINES', '5 ROOM', '498E', 14.852, '04 TO 06', '124', 'Premium Apartment', '1997', '79 years 02 months', '505000']
['2017-02', 'TAMPINES', '5 ROOM', '388', 14.234, '04 TO 06', '128', 'Improved', '1993', '75 years 07 months', '510000']
['2017-02', 'TAMPINES', '5 ROOM', '361', 14.775, '04 TO 06', '128', 'Improved', '1996', '78 years 03 months', '510000']